* {
    box-sizing: border-box;
    margin-top: 0px;
    /* margin-left: 0px;
    margin-right: 0px; */
    margin-bottom: -1px;
  }
  h1{
    text-align: center;
  }
  .App{
    background-color:antiquewhite;
  }
  .abc{
    margin-left: 550px;
    margin-top: 10px;
    padding: 1px;
  }
  .efg{
    padding-top: 2px;
    padding-left: 5px;
  }
  
  html {
    font-family: sans-serif;
  }
  
  table {
    width: 100%;
    border: 1px solid black;
    background-color: bisque;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 0.4rem;
  }
  
  th span {
    margin-right: 1rem;
  }

  
  input {
    -webkit-appearance: none;
    border: 1px solid gray;
    padding: 0.5rem;
    width: 100%;
    max-width: 100%;
    background: #f0f0f0;
  }
  
  .pagination {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.4rem;
    background-color: bisque;
  }
  